{% extends 'authapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset Form
{% endblock %}

{% block content %}
    <div>
        <h3>Password Reset Form</h3>

        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <input type="submit" value="Login" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}