{% extends 'authapp/base.html' %}

{% block title %}
    Profile Page
{% endblock %}

{% block content %}
    <div>
        <h3>Profile Page</h3>

        <div class="row">
            <div class="col-md-6">
                {% if user.first_name %}
                    <p>{{ user.first_name }}</p>
                {% else  %}
                    <p>Not update yet</p>
                {% endif %}

                {% if user.last_name %}
                    <p>{{ user.last_name }}</p>
                {% else %}
                    <p>Not update yet</p>
                {% endif %}

                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>

                <a href="{% url 'auth:edit_profile' %}" class="btn btn-primary">
                    Edit Profile
                </a>
            </div>
        </div>
    </div>
{% endblock %}